<p id="notice"><%= notice %></p>

<h1>Listing Lens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mount</th>
      <th>formatted_guang_quan_fan_wei</th>
      <th>Sensor size</th>
      <th>formatted_gong_zuo_ju_li</th>
      <th>Xiangyuan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lens.each do |len| %>
      <tr>
        <td><%= len.name %></td>
        <td><%= len.mount %></td>
        <td><%= len.formatted_guang_quan_fan_wei %></td>
        <td><%= len.sensor_size %></td>
        <td><%= len.formatted_gong_zuo_ju_li %></td>
        <td><%= len.xiang_yuan %></td>
        <td><%= link_to 'Show', len %></td>
        <td><%= link_to 'Edit', edit_len_path(len) %></td>
        <td><%= link_to 'Destroy', len, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Len', new_len_path %>
