<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @len.name %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @len.mount %>
</p>

<p>
  <strong>Flange focal distance:</strong>
  <%= @len.flange_focal_distance %>
</p>

<p>
  <strong>Sensor size:</strong>
  <%= @len.sensor_size %>
</p>


<p>
  <strong>Float:</strong>
  <%= @len.float %>
</p>

<p>
  <strong>Work length:</strong>
  <%= @len.work_length %>
</p>

<p>
  <strong>Float:</strong>
  <%= @len.float %>
</p>

<p>
  <strong>Work lenght round:</strong>
  <%= @len.work_lenght_round %>
</p>

<p>
  <strong>Float:</strong>
  <%= @len.float %>
</p>

<p>
  <strong>Xiangyuan:</strong>
  <%= @len.xiangyuan %>
</p>

<%= link_to 'Edit', edit_len_path(@len) %> |
<%= link_to 'Back', lens_path %>
