<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @search_param.name %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @search_param.mount %>
</p>

<p>
  <strong>Flange focal distance:</strong>
  <%= @search_param.flange_focal_distance %>
</p>

<p>
  <strong>Sensor size:</strong>
  <%= @search_param.sensor_size %>
</p>

<p>
  <strong>Region:</strong>
  <%= @search_param.region %>
</p>

<p>
  <strong>Float:</strong>
  <%= @search_param.float %>
</p>

<p>
  <strong>Work length:</strong>
  <%= @search_param.work_length %>
</p>

<p>
  <strong>Float:</strong>
  <%= @search_param.float %>
</p>

<p>
  <strong>Work lenght round:</strong>
  <%= @search_param.work_lenght_round %>
</p>

<p>
  <strong>Float:</strong>
  <%= @search_param.float %>
</p>

<p>
  <strong>Xiangyuan:</strong>
  <%= @search_param.xiangyuan %>
</p>

<%= link_to 'Edit', edit_search_param_path(@search_param) %> |
<%= link_to 'Back', search_params_path %>
